@import '../../../style/index';

.#{$bdPrefix}-carousel {
  position: relative;
  &-scroll {
    overflow: hidden;
  }
  &-list {
    @include flex(flex-start);
    transition: $transitionPrimary;
  }

  &-indicator {
    @include flex;
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
    &-item {
      border-radius: 2px;
      height: 4px;
      width: 18px;
      margin: 4px;
      background: rgba(#fff, .4);
      cursor: pointer;
      transition: $transitionPrimary;
      &-active {
        width: 36px;
        background: #fff;
      }
    }
  }
  &-btn {
    @include flex;
    position: absolute;
    transform: translateY(-50%);
    top: 50%;
    width: 30px;
    height: 30px;
    color: #fff;
    cursor: pointer;
    font-size: 20px;
    opacity: 0.4;
    transition: $transitionPrimary;
    &:hover {
      opacity: 1;
    }
    &-next {
      right: 0;
    }
  }

}

.#{$bdPrefix}-carousel-animate {
  transition: $transitionPrimary;
}

.#{$bdPrefix}-slide {
  flex-shrink: 0;
  width: 100%;
}
