@import '../../../style/index';

.#{$bdPrefix}-tag {
  @include font('sub');

  $height: 24px;
  cursor: pointer;
  border-radius: $borderRadiusPrimary;
  border: 1px solid palette('border');
  display: inline-block;
  padding: 0 8px;
  height: $height;
  line-height: $height;
  .#{$bdPrefix}-icon {
    margin-left: 8px;
  }
}