@import '../../../style/index';

.bd-radio {
  @include flex;

  cursor: pointer;

  &-icon {
    @include flex;

    width: 16px;
    height: 16px;
    margin-right: 4px;
    border-radius: 50%;
    border: 1px solid palette('border');

    div {
      opacity: 0;
      background: palette('primary');
      width: 8px;
      height: 8px;
      border-radius: 50%;
      transition: $transitionPrimary;
    }
  }

  input {
    display: none;

    &:checked {
      & + .bd-radio-icon {
        border-color: palette('primary');

        div {
          opacity: 1;
        }
      }
    }
  }
}
