@import '../../../style';

.bd-route {
  margin: 10px;
  padding: 10px;
  background: palette('background_light');
  // box-shadow: 0 0 4px rgba(0,0,0,.3);
  // border: 1px solid palette('border');
  box-shadow: $boxShadowPrimary;
  border-radius: $borderRadiusPrimary;
}