@import '../../../style/index';

.#{$bdPrefix}-pagination {
  @include flex(flex-end);
  @extend %no-select;

  &-item {
    @include flex;

    flex-shrink: 0;
    min-width: 32px;
    height: 32px;
    border: 1px solid palette('border');
    cursor: pointer;
    border-radius: $borderRadiusPrimary;
    margin-right: 8px;
    transition: $transitionPrimary;

    a {
      margin: 0 6px;
    }

    &:hover,
    &-active {
      border-color: palette('primary');
      color: palette('primary');
    }

    &-disable {
      border-color: palette('disable');
      color: palette('disable');
      cursor: not-allowed;

      &:hover {
        border-color: palette('disable');
        color: palette('disable');
      }
    }
  }
}
