@import '../../_style/index';

.bd-modal {
  min-width: 20%;
  background: palette('background');
  border-radius: $borderRadiusPrimary;
  box-shadow: $boxShadowPrimary;
  transition: $transitionPrimary;
  &-header {
    @include flex(space-between);
    border-bottom: 1px solid palette('border');
    padding: 14px 16px;
  }
  &-content {
    border-bottom: 1px solid palette('border');
    padding: 16px;
    &-bordernone {
      border-bottom: none;
    }
  }
  &-footer {
    @include flex(flex-end);
    padding: 12px 18px;
  }
  &-title {
    @include font('title');
  }
  &-close {
    font-size: 18px;
    cursor: pointer;
  }
  &-enter {
    opacity: 0;
    transform: scale(0.8);
    &-done {
      opacity: 1;
      transform: none;
    }
  }
  &-exit {
    opacity: 1;
    transform: none;
    &-done {
      opacity: 0;
      transform: scale(0.8);
    }
  }
  &-mask {
    @include flex;
    background: palette('mask');
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    transition: $transitionPrimary;
    &-enter {
      opacity: 0;
      &-done {
        opacity: 1;
      }
    }
    &-exit {
      opacity: 1;
      &-done {
        opacity: 0;
      }
    }
  }
}