@import '../../../style/index';

.#{$bdPrefix}-button {
  @include font('sub');
  @include flex;

  display: inline-block;
  outline: none;
  padding: 6px 15px;
  border-radius: $borderRadiusPrimary;
  transition: $transitionPrimary;
  border: 1px solid transparent;
  cursor: pointer;

  i {
    margin-right: 4px;
  }

  &-default {
    $background: palette('background_light');

    background: $background;
    color: palette('content');
    $hover: darken($color: $background, $amount: $lightenMount);

    border-color: rgba(palette('content'), $opacityPrimary);

    &:hover {
      background: $hover;
    }

    &:active {
      background: darken($color: $hover, $amount: $lightenMount);
    }
  }

  &-primary {
    $background: palette('primary');

    background: $background;
    color: palette('content_light');
    $hover: lighten($color: $background, $amount: $lightenMount);

    &:hover {
      background: $hover;
    }

    &:active {
      background: lighten($color: $hover, $amount: $lightenMount);
    }
  }

  &-success {
    $background: palette('success');

    background: $background;
    color: palette('content_light');
    $hover: lighten($color: $background, $amount: $lightenMount);

    &:hover {
      background: $hover;
    }

    &:active {
      background: lighten($color: $hover, $amount: $lightenMount);
    }
  }

  &-warning {
    $background: palette('warning');

    background: $background;
    color: palette('content_light');
    $hover: lighten($color: $background, $amount: $lightenMount);

    &:hover {
      background: $hover;
    }

    &:active {
      background: lighten($color: $hover, $amount: $lightenMount);
    }
  }

  &-error {
    $background: palette('error');

    background: $background;
    color: palette('content_light');
    $hover: lighten($color: $background, $amount: $lightenMount);

    &:hover {
      background: $hover;
    }

    &:active {
      background: lighten($color: $hover, $amount: $lightenMount);
    }
  }

  &-disable {
    $background: palette('disable');

    background: $background;
    color: lighten(palette('content'), $lightenMount);
    cursor: not-allowed;
  }

  &:active {
    box-shadow: $boxShadowPrimary;
  }
}
