@import '../../style/index';

.#{$bdPrefix}-switch {
  @extend %no-border;

  padding: 2px;
  height: 24px;
  width: 48px;
  background: palette('background_false');
  transition: $transitionPrimary;
  border-radius: 12px;
  cursor: pointer;

  &-inner {
    position: relative;
    display: block;
    background: palette('background_light');
    height: 20px;
    width: 20px;
    border-radius: 10px;
    transition: $transitionPrimary;
    left: 0;
  }

  &-checked {
    background: palette('primary');

    .#{$bdPrefix}-switch-inner {
      left: 100%;
      transform: translateX(-100%);
    }
  }

  &:active {
    .#{$bdPrefix}-switch-inner {
      width: 26px;
    }

    box-shadow: $boxShadowPrimary;
  }
}
