@import '../../../style/index';

.bd-table {
  $background: palette('background');

  background: palette('background_light');
  width: 100%;
  border-collapse: collapse;
  border: 1px solid palette('border');

  thead {
    // background: darken($background, $darkenMount);
    background: palette('background');
  }

  tr {
    border-bottom: 1px solid palette('border');

    &:nth-child(even) {
      background: palette('background');
    }
  }

  th,
  td {
    text-align: center;
    padding: 10px;
  }
}
