@import '../../../style/index';

.bd-tabs {
  &-list {
    @include flex(flex-start);

    border-bottom: 1px solid palette('border');
  }

  &-item {
    @include font('content');

    padding: 5px 10px;
    cursor: pointer;
    color: palette('content');

    &.active {
      color: palette('primary');
    }
  }

  &-bar {
    margin-top: -2px;
    height: 2px;
    background: palette('primary');
  }

  &-scroll {
    width: 100%;
    overflow: hidden;
  }

  &-content {
    display: flex;
  }
}

.bd-tabs-animate {
  transition: $transitionPrimary;
}

.bd-tabpane {
  flex-shrink: 0;
  width: 100%;
}