/**
 * Color definitions
 */

// $palette: (
//   'black:   ( base: #424242, dark: #212121, light: #616161, pure: #000 ),
//   'gray:    ( base: #b0b0b0, dark: #757575, light: #e0e0e0 ),
//   'white:   ( base: #f5f5f5, dark: #eeeeee, light: #fafafa, pure: #fff ),
//   'yellow:  ( base: #ffd619, dark: #fec517 ),
//   'gold:    ( base: #ffab13, dark: #ff920f ),
//   'orange:  ( base: #ff6700, dark: #f95b07, light: #ffcc80 ),
//   'red:     ( base: #f23835, dark: #e42a27 ),
//   'claret:  ( base: #dc3545, dark: #c32232, light: #ff3b4f ),
//   'pink:    ( base: #f93e7a, dark: #e9306c ),
//   'purple:  ( base: #a41daf, dark: #9715a2 ),
//   'indigo:  ( base: #545ad1, dark: #494fc5 ),
//   'blue:    ( base: #2096f3, dark: #0c80dc ),
//   'cyan:    ( base: #00c0a5, dark: #03b3ad ),
//   'green:   ( base: #83c44e, dark: #71b639 ),
// );

// @function palette($colorName, $tone: 'base') {
//   @return map-get(map-get($palette, $colorName), $tone);
// }

$palette: (
  primary: #2d8cf0,
  primary_light: #5cadff,
  primary_dark: #2b85e4,
  info: #2db7f5,
  success: #19be6b,
  warning: #f90,
  error: #ed4014,
  title: #17233d,
  content: #333,
  sub: #808695,
  disable: #ddd,
  border: #dcdee2,
  divider: #e8eaec,
  background: #f8f8f9,
  background_light: #fff,
  background_dark: #333,
  background_false: #ccc,
  content_light: #fff,
  mask: rgba(0, 0, 0, 0.5),
  border_active: rgba(40, 140, 240, 0.5)
);

@function palette($c) {
  @return map-get($map: $palette, $key: $c);
}
