$font: (
  title: (size: 16px, weight: bold),
  content: (size: 14px, weight: normal),
  sub: (size: 12px, weight: normal)
);

@mixin font($type) {
  font-size: map-get($map: map-get($map: $font, $key: $type), $key: 'size');
  font-weight: map-get($map: map-get($map: $font, $key: $type), $key: 'weight');
}
