@import '../../../style/index';

.#{$bdPrefix}-formitem {
  margin-bottom: 10px;

  &-label {
    width: 90px;
    margin-left: 10px;
    flex-shrink: 0;
  }

  &-vertical {
    &-center {
      @include flex(flex-start);
    }

    &-top {
      @include flex(center, flex-start);
    }
  }
}
