@import '../../style/index';

.#{$bdPrefix}-select {
  @extend %no-select;

  position: relative;
  display: inline-block;
  cursor: pointer;

  &-val {
    @include flex(space-between);

    border: 1px solid palette('border');
    padding: 8px;
    transition: $transitionPrimary;
    border-radius: $borderRadiusPrimary;

    .#{$bdPrefix}-icon {
      color: palette('sub');
      transition: $transitionPrimary;
    }

    &:focus,
    &:hover {
      border-color: palette('primary');
    }
  }

  &-list {
    position: absolute;
    z-index: 1;
    left: 0;
    top: calc(100% + 2px);
    background: palette('background_light');
    width: 100%;
    box-shadow: $boxShadowPrimary;
    border-radius: $borderRadiusPrimary;
    transition: $transitionPrimary;
    transform: rotateX(90deg);
    transform-origin: left top;
  }

  &-active {
    .#{$bdPrefix}-select {
      &-list {
        transform: none;
      }

      &-val {
        @include colorBoxshadow(palette('primary'));

        border-color: palette('primary');

        .#{$bdPrefix}-icon {
          transform: rotate(180deg);
        }
      }
    }
  }

  &-disabled {
    @extend %disabled;

    .#{$bdPrefix}-select-val {
      border-color: palette('border');
    }
  }
}

.#{$bdPrefix}-option {
  @extend %text-elli;

  padding: 8px;
  transition: $transitionPrimary;

  &:hover {
    background: palette('background');
  }

  &-disabled {
    @extend %disabled;
  }

  &-active {
    background: palette('background');
    font-weight: bold;
  }
}
