@import '../../../style/index';

.bd-select {
  position: relative;

  &-val {
    @include flex(space-between);

    border: 1px solid palette('border');
    padding: 8px;
    background: palette('background_light');
    transition: $transitionPrimary;
    border-radius: $borderRadiusPrimary;
    cursor: pointer;

    .bd-icon {
      color: palette('sub');
      transition: $transitionPrimary;
    }

    &:focus,
    &:hover {
      border-color: palette('primary');
    }
  }

  &-list {
    position: absolute;
    z-index: 1;
    left: 0;
    top: calc(100% + 2px);
    background: palette('background_light');
    width: 100%;
    box-shadow: $boxShadowPrimary;
    border-radius: $borderRadiusPrimary;
    transition: $transitionPrimary;
    transform: rotateX(90deg);
    transform-origin: left top;
  }

  &-active {
    .bd-select {
      &-list {
        transform: none;
      }

      &-val{
        @include colorBoxshadow(palette('primary'));

        border-color: palette('primary');
        .bd-icon {
          
          transform: rotate(180deg);
        }
      }
    }
  }
}

.bd-option {
  padding: 8px;
  transition: $transitionPrimary;
  cursor: pointer;

  &:hover {
    background: palette('background');
  }

  &-active {
    background: palette('background');
    font-weight: bold;
  }
}
